* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: rgb(31, 2, 39);
}

.main-content {
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.left-section {
  grid-column: span 2;
  height: 100%;
  background-color: rgb(3, 69, 71);
}

.right-section {
  background-color: rgb(36, 148, 148);
  height: 100%;
  grid-column: span 5;
}
.profile {
  width: 100%;
  border-bottom: 1px solid rgb(156, 206, 207);
}

.profile img {
  width: 100%;
  border-radius: 50%;
  border: 8px solid #f2f2f2;
}

.left-content {
  padding: 1rem 2rem;
}

.name {
  font-size: 2rem;
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  padding: 1.2rem 0;
  letter-spacing: 10px;
}

.career {
  font-size: 1.4rem;
  color: rgb(181, 181, 228);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
}

.main-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(141, 168, 192);
  padding-top: 3rem;
}

.contact-info ul {
  padding: 2rem;
}
.contact-info ul li {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  color: rgb(88, 138, 182);
}

.contact-info ul li i {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: rgb(26, 6, 71);
}

.skills-section ul {
  padding-top: 2rem;
}

.skills-section ul li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.4rem 0;
}

.progress-bar {
  width: 100%;
  height: 0.4rem;
  background-color: rgb(201, 201, 201);
  position: relative;
  border-radius: 12px;
}

.progress {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: rgb(7, 161, 161);
  border-radius: 12px;
}

.js-progress {
  width: 70%;
}
.j-progress {
  width: 60%;
}
.php-progress {
  width: 30%;
}

.c-progress {
  width: 50%;
}

.cc-progress {
  width: 60%;
}

.nodejs-progress {
  width: 75%;
}
.reactjs-progress {
  width: 85%;
}

.sql-progress {
  width: 75%;
}

.mysql-progress {
  width: 85%;
}

.mongo-progress {
  width: 90%;
}

.skill-title {
  text-transform: uppercase;
  color: beige;
  font-size: 1rem;
}

.right-main-content {
  padding: 2rem 3rem;
}

.right-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(141, 168, 192);
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  position: relative;
}

.para-1 {
  padding-left: 2rem;
  line-height: 1.6rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
}
.right-title-educationbackground {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(141, 168, 192);
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  position: relative;
  padding-top: 2rem;
}

.para-2 {
  padding-left: 2rem;
  line-height: 1.6rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
}

.right-title-projects {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(141, 168, 192);
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  position: relative;
  padding-top: 2rem;
}

.para-3 {
  padding-left: 2rem;
  line-height: 1.6rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
}

.project-1 {
  padding-bottom: 2rem;
  padding-left: 2rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
}

.para-4 {
  padding-left: 2rem;
  line-height: 1.6rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
}
.project-2 {
  padding-bottom: 2rem;
  padding-left: 2rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
  padding-top: 2rem;
}
.para-5 {
  padding-left: 2rem;
  line-height: 1.6rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
  padding-bottom: 2rem;
}
.project-3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
}
.right-title-certification {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(141, 168, 192);
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  position: relative;
  padding-top: 2rem;
}

.para-6 {
  padding-left: 2rem;
  line-height: 1.6rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
  padding-bottom: 2rem;
}
.para-7 {
  padding-left: 2rem;
  line-height: 1.6rem;
  color: rgb(7, 62, 83);
  font-size: 1.1rem;
  padding-bottom: 2rem;
}
